defaults
	mode http
  timeout connect 10s
  timeout client 30s
  timeout server 30s

userlist credentials
  user username insecure-password password

frontend fe_main
  bind *:6006
  http-request auth unless { http_auth(credentials) }

  use_backend be_comfyui if { hdr_beg(host) -i comfy }

  default_backend be_default

backend be_comfyui
  server comfyui 127.0.0.1:8008

backend be_default
  http-request return 200 content-type "text/plain" string "Choose a backend!"
